@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Open Sans', sans-serif;
}

/* Wrapper */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    
}

@media screen and (max-width:767px) {
    .wrapper{ 
        grid-template-columns: minmax(200px,1fr);
    }
    
}
/* Wrapper */

textarea{
    resize: none;

}
:root{
    --var-main-color:rgb(59 130 246);
}

/* component classes */

.content-headline {
    @apply mb-4 text-2xl font-bold capitalize;
}

.sub-headline{
    @apply mb-3 text-sm text-slate-500 capitalize;
}

.button{
    @apply bg-blue-500 text-white px-4 mt-5 capitalize font-bold block py-1 rounded-md w-fit cursor-pointer hover:bg-blue-400;
}

.social-buttons{
    @apply px-3 py-1 text-xs capitalize font-bold rounded-md mr-3;
}

/* component classes */

/* tickets */

@media (min-width: 768px) {
    .ticket-box{
        width:calc(50% - 5px);
    }
   
}


/* scrollbar */
::-webkit-scrollbar{
    width:15px;
    
} 

::-webkit-scrollbar-track{
    background-color: white;
    
}
::-webkit-scrollbar-thumb{
    background-color: rgb(59 130 246);
    
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(59 130 246/0.8);
    
}
/* scrollbar */


/* Header */

.notification-icon .item{
    position:relative;
    cursor: pointer;
}
.notification-icon .item .counter{
    content:"";
    position:absolute;
    width:18px;
    height:18px;
    background-color: red;
    top: -7px;
    left: 15px;
}
/* Header */


.reminder:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 24px;
    border-radius: 50%;
    left: -30px;

}
.reminder:first-of-type:before{
    background-color:#22c55e;

}
.reminder:nth-of-type(2):before{
    background-color:#dc2626;

}
.reminder:nth-of-type(3):before{
    background-color:#3b82f6;

}
.reminder:nth-of-type(4):before{
    background-color:#fb923c;

}
/* 
twitter #1da1f2
facebook #1877f2
linkedin #ff0000
youtube #0077b5 */


.social-box:nth-of-type(1){
    background-color: rgba(29, 161, 242,0.3);
}
.social-box:nth-of-type(2){
    background-color: rgba(24, 119, 242,0.3);
}
.social-box:nth-of-type(3){
    background-color: rgba(255, 0, 0,0.3);
}
.social-box:nth-of-type(4){
    background-color: rgba(0, 119, 181,0.3);
}

.social-box:nth-of-type(1) .icon,
.social-box:nth-of-type(1) .social-buttons{
    background-color: #1da1f2;
}
.social-box:nth-of-type(2) .icon,
.social-box:nth-of-type(2) .social-buttons{
    background-color: #1877f2;
}
.social-box:nth-of-type(3) .icon,
.social-box:nth-of-type(3) .social-buttons{
    background-color: #f00;
}
.social-box:nth-of-type(4) .icon,
.social-box:nth-of-type(4) .social-buttons{
    background-color: #0077b5;
}



/* latest upload */ 
.latest-upload li:not(:last-of-type){
    border-bottom: 1px solid #ccc;
    
}

/* progress */
.project-list:before{
    content:"";
    position:absolute;
    width:3px;
    height:90%;
    left:0;
    top:7px;
    background-color:var(--var-main-color);
    z-index: 1;

}

.project-list li:before{
    content:"";
    position: absolute;
    top:9px;
    left:-25px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:white;
    outline:3px solid var(--var-main-color);
    border: 3px solid white;
    z-index: 2;

}

.project-list li.done:before {
    background-color: var(--var-main-color);
   
}
 
.project-list li.pending:before {
    -webkit-animation: pulsing-color 0.8s infinite alternate;
            animation: pulsing-color 0.8s infinite alternate;
   
}

@-webkit-keyframes pulsing-color {
    from{
        background-color: var(--var-main-color);
    }
    to{
        background-color: white;
    }
    
}

@keyframes pulsing-color {
    from{
        background-color: var(--var-main-color);
    }
    to{
        background-color: white;
    }
    
}

/* project progress */
 
table{
    min-width: 1000px;
    border-spacing: 0;
}

table td {
    padding:15px;
}

table tbody td {
    border-left:1px solid #eee;
    border-bottom:1px solid #eee;
    transition: 0.3s;
}



table tbody tr:hover td{
    background-color:rgb(252, 252, 252);
}

table tbody img:not(:first-child){
    margin-left:-15px;
    background-color: white;
    border:2px solid white;
}

.sidebar li a.active{
    background-color: rgb(239 246 255);
}